{% extends 'home.html' %} {% block content %}
<button><a href="{% url "home" %}">Home</a></button>
<h1>YOUR ITEMS</h1>

{% if post_list is not None %}
{% for item in post_list %}

<div class="item">
    <p class="item_name">{{ item.name }}</p>
    <p>{{ item.desc }}</p>
    <p>{{ item.cond }}</p>
    <p>{{ item.price }}</p>
    
    <button><a href="{% url "update" item.id %}">Edit</a></button>
    <button><a href="{% url "delete" item.id %}">Delete</a></button>
</div>

{% endfor %}{% endif %} {% endblock content %}
