{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={% static "style.css" %}>
  </head>
  <body class="background">
    <p class="account_type">{{user.groups.all.0}} account  </p>
    <a class="logout" href="{% url "logout" %}">Log out</a>
    <button class="to_top"><a href="#">To Top</button></a>
  
    <h1 class="header"><a href="{% url "home" %}">TRANSFORMERS PARADISE</a></h1>
    <div class="home">
    
      <p class="hello">Hello, {{user.username}}!</p>
      

      {% block content %}
      {% for message in messages %}
              <p class="flash_message">{{ message }}</p>
          {% endfor %}

      <button class="button"><a href="{% url "buy" %}">Browse Figures</a></button>

      {% if user.groups.all.0.name == "Premium" %}
      <button class="button"><a href="{% url "post" %}">Sell</a></button>
      <button class="button"><a href="{% url "all_posts" %}">View your posts</a></button>
      {% endif %}
      
      
      {% endblock content %}
    </div>
  </body>
</html>
