{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={% static "style.css" %}>
  </head>
  <body>
    <h1>TRANSFORMERS BUY AND SELL</h1>
    <p>Hello, {{user.username}}!</p>

    <span>{{user.groups.all.0}} account</span>
    <span><a href="{% url "logout" %}">Log out</a></span>

    {% block content %}
    {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

  <button><a href="{% url "buy" %}">Browse Figures</a></button>
  <button><a href="{% url "post" %}">Sell</a></button>
  <button><a href="{% url "all_posts" %}">View your posts</a></button>

    
    
    {% endblock content %}
  </body>
</html>
