{% load static %}
<link rel="stylesheet" href={% static "style.css" %}>

<body class="background">
    


<div class="log">
<h1>LOG IN</h1>
<form class="sign_and_log_form" method="POST" action="">
    {% csrf_token %}

   <div class="form_element">{{ form.username.label }}{{ form.username }}</div>
   <div class="form_element">{{ form.password.label }}{{ form.password }}</div>

   

    <input type="submit" class="sign_and_log_button" name="Login" value="Log In">

</form>
{% for message in messages  %}
    <p class="flash_message">{{message}}</p>
{% endfor %}

<div class="sign_and_log_swap">Don't have an account?
    <button class="button"><a href="{% url "signup" %}">Sign up</a></button>

    </div>
</div>

</body>