{% load static %}
<link rel="stylesheet" href={% static "style.css" %}>

<body class="background">
    


<div class="sign">
<h1>SIGN UP</h1>

<form class="sign_and_log_form" method="POST" action="">
  {% csrf_token %}
  <p class="form_element">{{ form.username.label }} {{ form.username }}</p>
  <p class="form_element">{{form.email.label }} {{ form.email }}</p>
  <p class="form_element">{{ form.password1.label }} {{form.password1 }}</p>
  <p class="form_element">{{ form.password2.label }} {{ form.password2 }}</p>
  <p class="form_element">{{ form.type.label }} {{ form.type }}</p>

  <input type="submit" class="sign_and_log_button" name="CreateUser" value="Create User" />
</form>

{% for message in messages %}
    <p class="flash_message">{{message}}</p>
{% endfor %}
<div class="sign_and_log_swap">Already have an account?
    <button class="button"><a href="{% url "login" %}">Log in</a></button>

    </div>
</div>

</body>